[Unit]
Description=It's a timer that runs the generate_index script at 05:00 every day

[Timer]
OnCalendar=*-*-* 05:00

[Install]
WantedBy=timers.target
